.about{
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.aboutBox{
    width: 90%;
    height: 90%;
}

.inbox{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.box1{
    width: clamp(180px, 30vw, 360px);
    margin-top: 80px;
    /* background-color: pink; */
}

.box2{
    width: 80%;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    /* background-color: skyblue; */
}
.outbox1, .outbox2 {
    width: 48%;
    position: relative;
    display: grid;
    place-items: center;
}

.outbox1 {
    transform: translateY(40px);
}

.outbox2 {
    transform: translate(20px, 140px);
}

.dot1{
    width: 80%;
    height: auto;
    opacity: 0.7;
}

.dot2{
    width: 95%;
    height: auto;
    opacity: 0.7;
}

.text{
    width: 100%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 1.5rem;
    z-index: 5;
}

.box2 h3{
    margin-bottom: 0.6rem;
    font-size: 2rem;
    color: #fff;
}

.box2 p{
    color: #fff;
    font-size: 1.0rem;
}


.title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    font-size: 4rem;
    text-align: center;
    /* border-bottom: 1px solid #333; */
    font-family: 'Noto Serif KR', 'Nanum Myeongjo', serif;
    font-weight: bold;
}

.box3{
    width: 100%;
    height: 30%;
    /* background-color: gold; */
    display: grid;
    place-items: center;
}
.box3 > div {
    grid-area: 1 / 1;
}
.box3 p{
    font-size: 2rem;
    text-align: center;

}
