.works{
    width: 100%;
    height: 100vh;
    position: relative;
    text-decoration: none; 
    list-style: none;
    overflow: hidden;
}

.worksbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.backImg{
    opacity: 0.5;
    position: absolute;
    z-index: 0;
}

.bookWrap {
    position: fixed;
    inset: 0;
    background: #f5f1e6;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bookFadeOut 2.5s ease forwards;
    animation-delay: 2.8s;
}

.book {
    position: relative;
    width: 1400px;
    height: 1300px;
    perspective: 2000px;
    transform-style: preserve-3d;
}

.left, .right {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    opacity: 1;
    backface-visibility: hidden;
}

.left {
    left: 0;
    transform-origin: right center;
    transform: rotateY(180deg);
    animation: openLeft 2.8s ease-out forwards;
}

.right {
    right: 0;
    transform-origin: left center;
    transform: rotateY(-180deg);
    animation: openRight 2.8s ease-out forwards;
}

@keyframes openLeft {
    to {
        transform: rotateY(0deg);
    }
}

@keyframes openRight {
    to {
        transform: rotateY(0deg);
    }
}

@keyframes bookFadeOut {
    from {
        opacity: 1;
        transform: scale(1);
        filter: blur(0);
    }
    to {
        opacity: 0;
        transform: scale(0.5);
        filter: blur(8px);
    }
}



.main{
    width: calc(100vw - 15rem);
    height: 100vh;
    position: relative;
    font-family: 'Noto Serif KR', serif;
}

.typing{
    font-size: 4rem;
    letter-spacing: 0.05em;
    font-family: 'Noto Serif KR', 'Nanum Myeongjo', serif;
    font-weight: bold;
    position: absolute;
    top: 35%;
    left: 20%;
}

.cursor{
    margin-left: 4px;
    animation: blink 1.2s infinite;
    opacity: 0.7;
}

@keyframes blink {
    50% { opacity: 0; }
}

.reaperWrap{
    position: absolute;
    bottom: 5%; right: -10%;
    opacity: 0.7;
    perspective: 1200px;
}
.reaper3d{
    width: 400px;
    height: 500px;
    transform-style: preserve-3d;
    will-change: transform; /* 사라짐 방지 */
}
.reaper{
    width: 100%;
    height: 100%;
    backface-visibility: visible;
}

.worksScrollSection {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 100;
}
.topBtn{
    position: fixed;
    width: 80px;
    height: 80px;
    background-color: #222;
    border-radius: 50%;
    z-index: 9999; 
}

.scrollWrapper {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.scrollWrapper>[data-panel] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}


